title 
{color: aqua;font: 1em sans-serif;
text-align: center;}

h1{color:red}

h2 {
    color: darkorange; 
    font-size: large; 
    text-align: justify;
}

a href {
    color: rgb(241, 189, 19)30;
    text-decoration: none;
}
